{% load static %}
<!DOCTYPE HTML>
<!--
	Radius by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Gallery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<div class="content">
						<h1>Gallery</h1>
						<h2>Welcome to <br />
						 My Gallery</h2>
						<a href="#" class="button big alt"><span>Let's Go</span></a>
					</div>
					<a href="#" class="button hidden"><span>Let's Go</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="main">
				<div class="inner">
					<div class="columns">

						<!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
						
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp19.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp1.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp18.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp26.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp4.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp25.jpg' %}" alt="" /></a>
							</div>

						<!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp6.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp5.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp8.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp7.jpg' %}" alt="" /></a>
							</div>

						<!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp10.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp11.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp10.jpg' %}" alt="" /></a>
							</div>

						<!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp13.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp14.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp9.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp15.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp16.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp17.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp2.jpg' %}" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="#"><img src="{% static 'img/pp3.jpg' %}" alt="" /></a>
							</div>

					</div>
				</div>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<h3><a href="{% url 'home' %}">Home</a></h3></div>
					<div class="copyright">
						<h3>Follow me</h3>
						<h2><strong><a href="https://www.instagram.com/saron_demissew/">@saron_demissew</a></strong></h2>
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="t.me/Tamoraaa" class="icon fa-telegram"><span class="label">Telegram</span></a></li>
						</ul>
						&copy; Designed by <a href="https://nitsuhdemissew21.wixsite.com/nitsuhtechnologies">Nitsuh Technologies</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/main.js' %}"></script>

	</body>
</html>
